body {
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

#home {
    text-align: center;
}

.home_page, .login_page, .post_page {
    height: 600px;
    width: 1000px;
}

#homepic {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 400px;
    height: 400px;
    display: inline-block;
}

#home_img {
    width: 400px;
    height: 400px;
}

.home_welcome {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color:white;
    text-align:center;
    display: inline-block;
}

.photogramlogo_home {
    position: relative;
    left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 380px;
    border-bottom: 1px solid gray;
}

#photogramlogo_home_pic {
    width: 18vw;
    height: 6vh;
}

.welcome_text {
    padding-top: 10px;
    padding-bottom: 80px;
}

.registerBtn, .loginBtn {
    width: 180px;
}

.reg, .log, .post, .fol, .foll, .sub {
    width: 100%;
}

.registrationWelcome, .loginWelcome, .postWelcome {
    padding-left: 32%;
    padding-top: 100px;
}

.regForm, .logForm, .postForm{
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

#usrname, #passwrd {
    text-align: left;
}

.hide_info {
    visibility: hidden;
}

.postBtn {
    position:absolute;
    top:15%;
    left: 80%;
    width: 200px;
}

.userPage {
    width: 1100px;
    height: 1000px;
    position: relative;
    padding-bottom: 50px;
}

.userPic {
    position: absolute;
    left: 5%;
    top: 5%;
}

#userImg {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.top-container {
    border-style:solid outset outset outset;
    border-radius: 5px;
    width: 1008px;
    background-color: white;
    position: absolute;
    height: 250px;
    top: 5%;
    left:5%;
}

.userName {
    position: absolute;
    left: 25%;
    top: 5%;
    height: 120px;
    width: 40%;
}

.fname-lname, .joined-date {
    padding-bottom: 20px;
}

.userInfo {
    position: relative;
    top: 5%;
    left: 70%;
    width: 25%;
}

.postCount {
    position:absolute;
    padding-left:20%;
    padding-top:10%;
    text-align:center;
}

.followerCount {
    position: absolute;
    padding-left: 60%;
    padding-top: 10%;
    text-align: center;
}

.userBtns {
    padding-top: 120px;
    padding-bottom: 80px;
}

.userPosts {
    position: absolute;
    top: 32%;
    width: 1060px;
    height: 800px;
    overflow: auto;
    left: 29px;
}

.userPost-List {
    display: grid;  
    grid-template-columns: 340px 340px 340px;
    grid-column-gap: 5px;  
    grid-row-gap: 5px;
    list-style-type: none; 
    padding: 10px;  
    margin: 5px;
}

.post_item {
    display: inline-block;
    border-style: outset;
    border-radius: 4px;
    font-size: 14px;
    word-wrap: break-word;
    background-color: white;  
    float:left;
    margin: 10px 10px; 
}

#userPost-Img {
    width: 320px; 
    height: 200px; 
    padding-left: 2px; 
    padding-right: 2px;
}

.explore-posts {
    display: grid;  
    grid-template-columns: 824px;
    grid-column-gap: 10px;  
    grid-row-gap: 2px;
    list-style-type: none; 
    padding: 10px;  
    margin: 5px;
}

.user_explore {
    padding-bottom:50px;
}

.user-profile-explore, .user-caption-explore {
    padding-top:10px;
    padding-left:10px;
}

#user-img-explore, #like-icon {
    width: 25px;
    height: 25px;
}

#user-post {
    width: 800px;
    height: 400px;
}

.creation_time {
    padding-left: 560px;
}